<%= render "shared/header" %>


<div id="home4" class="contents row">
  <h2 class="page-title">You want to sing?</h2>
  <p class="page-p">歌いたかったあの曲との出会い提供するMY KARAOKE。
  </p>
  <%# <p class="page-p">このページではみんなの曲を検索できます。
     みんなの曲を見てレパートリーを増やしましょう。
  </p> %>
  <% if user_signed_in? %>
    <%= search_form_for @p, url: search_user_path do |f| %>
      <div class = "search-keyword">
        <div class = "search-keyword-child">
          <%= f.search_field :artist_or_title_or_memo_cont, placeholder:"キーワード", class: "keyword-box" %>
        </div>
        <div class = "search-keyword-child">
          <%= f.submit '検索',{class:"search-submit"} %>
        </div>
      </div>

      <div class = "search-pulldown">
        <div class = "search-pulldown-child">
          <%= f.label :interval_eq, 'キー：'  %>
          <%= f.collection_select :interval_id_eq, Interval.all, :id, :name, {include_blank: '指定なし'},{class:"category-select"} %>
        </div>

        <div class = "search-pulldown-child">
          <%= f.label :gender_id_eq, '性別：'  %>
          <%= f.collection_select :gender_id_eq, Gender.all, :id, :name, {include_blank: '指定なし'},{class:"category-select"} %>
        </div>

        <div class = "search-pulldown-child">
          <%= f.label :gerne_id_eq, 'ジャンル：'  %>
          <%= f.collection_select :genre_id_eq, Genre.all, :id, :name, {include_blank: '指定なし'},{class:"category-select"} %>
        </div>

        <div class = "search-pulldown-child">
          <%= f.label :populur_id_eq, '知名度：'  %>
          <%= f.collection_select :populur_id_eq, Populur.all, :id, :name, {include_blank: '指定なし'},{class:"category-select"} %>
        </div>
      </div>
      <% end  %>
    <% end  %>

  <% if user_signed_in? %>
    <% unless @user.id == current_user.id %>
      <div class="icon">
        <div class="song-btn-user">
          <%= link_to root_path do %>
            みんなの投稿一覧へ
          <% end %>
        </div>
        <div class="song-btn-user">
          <%= link_to user_path(current_user.id) do %>
            マイページへ
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="main">
  <div class="main-content">
    <div class="main-title">
    これは<%= @user.nickname%>さんの検索結果です
    </div>
    <div class="grid">
      <% @songs.each do |song| %>
        <table class="detail-table">
          <tbody>
            <tr>
              <th class="index-detail-song">アーティスト名</th>
              <th class="index-detail-value">曲名</td>
            </tr>
            <tr>
              <td class="index-detail-song"><%= song.artist %></td> 
              <td class="index-detail-value">
                <%= link_to song_path(song.id) do %>
                  <%= song.title %>
                <% end %>
              </td> 
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>

 <div class="pagenate">
    <%= paginate @songs %>
  </div>

<%= render "shared/footer" %>