<%= render "shared/header" %>

<div id="home-user-show" class="contents">
  <h2 class="page-title">Singing is everything!</h2>
  <p class="page-p">新たな曲との出会い提供するMY KARAOKE。
  </p>
  <p class="page-p">ここは<%= @user.nickname%>さんのマイページです。
     あなたが歌いたい曲をお気に入りしておきましょう。
  </p>
  <% if user_signed_in? %>
    <%= search_form_for @p, url: search_user_path do |f| %>
      <div class = "search-keyword">
        <div class = "search-keyword-child">
          <%= f.search_field :artist_or_title_or_memo_cont, placeholder:"キーワード", class: "keyword-box" %>
        </div>
        <div class = "search-keyword-child">
          <%= f.submit '検索',{class:"search-submit"} %>
        </div>
      </div>

      <div class = "search-pulldown">
        <div class = "search-pulldown-child">
          <%= f.label :interval_eq, 'キー：'  %>
          <%= f.collection_select :interval_id_eq, Interval.all, :id, :name, {include_blank: '指定なし'},{class:"category-select"} %>
        </div>

        <div class = "search-pulldown-child">
          <%= f.label :gender_id_eq, '性別：'  %>
          <%= f.collection_select :gender_id_eq, Gender.all, :id, :name, {include_blank: '指定なし'},{class:"category-select"} %>
        </div>

        <div class = "search-pulldown-child">
          <%= f.label :gerne_id_eq, 'ジャンル：'  %>
          <%= f.collection_select :genre_id_eq, Genre.all, :id, :name, {include_blank: '指定なし'},{class:"category-select"} %>
        </div>

        <div class = "search-pulldown-child">
          <%= f.label :populur_id_eq, '知名度：'  %>
          <%= f.collection_select :populur_id_eq, Populur.all, :id, :name, {include_blank: '指定なし'},{class:"category-select"} %>
        </div>
      </div>
    <% end  %>
  <% end  %>

    <%# 新規投稿 %>

  <% if user_signed_in? %>
    <% if @user.id == current_user.id %>
      <div class="icon">
        <a href="/songs/new">
          <button type="button" class="btn btn-primary">
          曲を登録する
          </button>
        </a>

        <%= link_to root_path do %>
          <button type="button" class="btn btn-primary">
            みんなの投稿一覧へ
          </button>
        <% end %>

        <%= link_to followings_user_path(@user.id) do %>
          <button type="button" class="btn btn-primary">
            フォロー一覧へ
          </button>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
    <% unless @user.id == current_user.id %>
      <div class="icon">
        <%= link_to user_path(current_user.id) do %>
          <button type="button" class="btn btn-primary">
            みんなの投稿一覧へ
          </button>
        <% end %>

        <%= link_to user_path(current_user.id) do %>
          <button type="button" class="btn btn-primary">
          マイページへ
          </button>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div><!--/#home -->

  <% if user_signed_in? %>
    <%= render partial: 'relationships/follow_button',locals: { user: @user}  %>
  <% end %>

<%# 新規投稿 %>
<div class="main">
  <div class="main-content">
    <div class="main-title-user">
      <%= @user.nickname%>さんの投稿一覧です
    </div>
    <div class="grid">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">投稿者</th>
            <th scope="col">アーティスト名</th>
            <th scope="col">曲名</th>
          </tr>
        </thead>
        <tbody>
          <% @songs.each do |song| %>
            <tr>
              <td>
                <%= link_to user_path(song.user_id) do %>
                  <%= song.user.nickname %>
                <% end %>
              </td>
              <td><%= song.artist %></td>
              <td><%= link_to song_path(song.id) do %>
                  <%= song.title %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="main">
  <div class="main-content">
    <div class="main-title-user">
      <%= @user.nickname%>さんのお気に入りです
    </div>
    <div class="grid">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">投稿者</th>
            <th scope="col">アーティスト名</th>
            <th scope="col">曲名</th>
          </tr>
        </thead>
        <tbody>
          <% @user.favorited_songs.each do |song| %>
            <tr>
              <td>
                <%= link_to user_path(song.user_id) do %>
                  <%= song.user.nickname %>
                <% end %>
              </td>
              <td><%= song.artist %></td>
              <td>
                <%= link_to song_path(song.id) do %>
                  <%= song.title %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
  <div class="pagenate">
    <%= paginate @songs %>
  </div>
<%= render "shared/footer" %>

