<%= render "shared/header" %>

  <div class="song-main">
    <%= form_with(model: @song, local: true, class: "song-form") do |f| %>

      <div class="songs-text">
        <div class="song-title">
          <h2>曲名入力欄</h2>
          <%= f.text_field :title, class:"song-text", placeholder: "曲名を入れて下さい" %>
        </div>

        <div class = "song-artist">
          <h2>アーティスト入力欄</h2>
          <%= f.text_field :artist, class:"song-text", placeholder: "アーティストを入力して下さい" %>
        </div>

        <div class="pulldown-songs">
          <div class="pulldown">
            <h2>ジャンル</h2>
            <%= f.collection_select(:genre_id, Genre.all, :id, :name, {include_blank: '指定なし'}, {class:"select-box", id:"song-category"}) %>
            <h2>シチュエーション</h2>
            <%= f.collection_select(:scene_id, Scene.all, :id, :name, {include_blank: '指定なし'}, {class:"select-box", id:"song-category"}) %>
            <h2>ボーカル</h2>
            <%= f.collection_select(:gender_id, Gender.all, :id, :name, {include_blank: '指定なし'}, {class:"select-box", id:"song-category"}) %>
          </div>
        </div>

        <div class="song-momo">
        <h2>コメント入力欄</h2>
          <%= f.text_area :memo, class:"song-text", placeholder: "メモを入力して下さい" %>
        </div>
        <div class="songs-btn-contents">
          <%= f.submit "投稿する" ,class:"song-btn" %>
        </div>
      </div>
    <% end %>
  </div>
<%= render "shared/footer" %>

