<%= render "shared/header" %>

<div id="home-index" class="contents row">
  <h2 class="page-title">Find your favorite!</h2>
  <p class="page-p">歌いたかったあの曲との出会い提供するMY KARAOKE。
  </p>
  <p class="page-p">このページではみんなが歌いたい曲の情報が満載です。
     みんなの曲を見てレパートリーを増やしましょう。
  </p>

    <%= render "shared/search_bar" %>
    
  <%# 新規投稿 %>

  <% if user_signed_in? %>
    <div class="icon">
      <div class='song-btn1'>
        <a href="/songs/new">
          曲を登録する
        </a>
      </div>

      <div class="song-btn1">
        <%= link_to user_path(current_user.id) do %>
          マイページへ
        <% end %>
      </div>
    </div>
  <% end %>
</div><!--/#home -->

    <%# 新規投稿 %>
<div class="main">
  <div class="main-content">
  <div class="main-title">
    これはみんなの投稿一覧です
  </div>
    <%= render "shared/songs" %>
  </div>
</div>
  <div class="pagenate">
    <%= paginate @songs %>
  </div>

<% @elements.each do|element| %>
  <ul>
    <li>
      <%=link_to(element.inner_text,element[:href])%>
    </li>
  </ul>
<%end%>
<%= render "shared/footer" %>