<%= render "shared/header" %>

<div id="home-song-search" class="contents row">
  <h2 class="page-title">Did you find favorite?</h2>
  <p class="page-p">歌いたかったあの曲との出会い提供するMY KARAOKE。
  </p>
  <p class="page-p">このページではみんなの曲を検索できます。
     みんなの曲を見てレパートリーを増やしましょう。
  </p>
  
    <%= render "shared/search_bar" %>


  <% if user_signed_in? %>
    <div class="icon">
      <div class="song-btn1">
        <%= link_to root_path do %>
          みんなの投稿一覧へ
        <% end %>
      </div>
      
      <div class='song-btn1'>
        <a href="/songs/new">
          曲を登録する
        </a>
      </div>

      <div class="song-btn1">
        <%= link_to user_path(current_user.id) do %>
          マイページへ
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="main">    
  <div class="main-content">
    <div class="main-title">
    これはみんな投稿の検索結果です
    </div>
    <div class="grid">
      <% @songs.each do |song| %>
        <table class="detail-table">
          <tbody>
            <tr>
              <th class="index-detail-song">アーティスト名</th>
              <th class="index-detail-value">曲名</td>
            </tr>
            <tr>
              <td class="index-detail-song"><%= song.artist %></td> 
              <td class="index-detail-value">
                <%= link_to song_path(song.id) do %>
                  <%= song.title %>
                <% end %>
              </td> 
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
  <div class="pagenate">
    <%= paginate @songs %>
  </div>

<%= render "shared/footer" %>