<%= render "shared/header" %>

<div id="home-song-search" class="contents">
  <h2 class="page-title">Did you find favorite?</h2>
  <p class="page-p">歌いたかったあの曲との出会い提供するMY KARAOKE。
  </p>
  <p class="page-p">このページではみんなの曲を検索できます。
     みんなの曲を見てレパートリーを増やしましょう。
  </p>
  
    <%= render "shared/search_bar" %>


  <% if user_signed_in? %>
    <div class="icon">
      <a href="/songs/new">
          <button type="button" class="btn btn-light">
        曲を登録する
        </button>
      </a>

      <%= link_to user_path(current_user.id) do %>
          <button type="button" class="btn btn-light">
        マイページへ
        </button>
      <% end %>

      <%= link_to user_path(current_user.id) do %>
          <button type="button" class="btn btn-light">
          みんなの投稿一覧へ
        </button>
      <% end %>
    </div>
  <% end %>
</div>

<div class="main">    
  <div class="main-content">
    <div class="main-title">
    これはみんな投稿の検索結果です
    </div>
    
    <%= render "shared/songs" %>

  </div>
</div>
  <div class="pagenate">
    <%= paginate @songs %>
  </div>

<%= render "shared/footer" %>