<%= render "shared/header" %>

<div class="main">
  <div class="song-show">
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="show-detail-value">アーティスト</th>
          <td class="show-detail-song"><%= @song.artist %></td> 
        </tr>

        <tr>
          <th class="show-detail-value">曲タイトル</th>
          <td class="show-detail-song"><%= @song.title %></td>
        </tr>

        <tr>
          <th class="show-detail-value">ジャンル</th>
          <td class="show-detail-song"><%= @song.genre.name %></td>
        </tr>

        <tr>
          <th class="show-detail-value">性別</th>
          <td class="show-detail-song"><%= @song.gender.name %></td>
        </tr>

        <tr>
          <th class="show-detail-value">キー</th>
          <td class="show-detail-song"><%= @song.interval.name %></td>
        </tr>

        <tr>
          <th class="show-detail-value">メモ</th>
          <td class="show-detail-song"><%= @song.memo %></td>
        </tr>
      </tbody>
    </table>



    <% if user_signed_in? %>
      <% if current_user.already_favorited?(@song) %>
        <%= button_to '気になるを取り消す', song_favorite_path(@song), method: :delete %>
      <% else %>
        <%= button_to '気になる', song_favorites_path(@song) %>
      <% end %>
    

      <% if @song.user_id == current_user.id %>
        <%= link_to '投稿の編集', edit_song_path, method: :get, class: "song-red-btn" %>
        <p class='or-text'>or</p>
        <%= link_to '削除', song_path, method: :delete, class:'song-destroy',data: {confirm: "本当に削除しますか？"} %>
      <% end %>
    <% end %>
  </div>
</div>

<%= render "shared/footer" %>